.notice-all-wrap {
  width: 600px;
  margin: 0 auto;
}
.notice-content-wrap {
  padding: 10px;
  margin: 50px 0;
}
.notice-content-title {
  font-size: 24px;
  font-family: ns-b;
}
 {
  /* .notice-tbl td 
  border: 1px solid #ccc;
  background-color: beige;
  padding: 10px;
 */
}
.notice-tbl {
  width: 100%;
  border-spacing: 0;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.notice-item {
  width: 100%;
  list-style: none;
}
/* .notice-item > td {
  padding: 10px;
  display: block;
} */
.notice-view-wrap {
  /*background-color: antiquewhite;*/
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.notice-view-info {
  display: flex;
}
.notice-view-content {
  min-height: 400px;
  border-bottom: 1px solid #053b50;
}
.notice-view-btn-zone {
  padding: 20px 0px;
}
.notice-view-btn-zone > button {
  margin-right: 20px;
}
.notice-content-box {
  min-height: 400px;
}
.notice-content-box .ql-container {
  height: 400px;
  width: 600px;
}
