.feed-all-wrap {
  width: 800px;
  margin: 20px auto;
}
.feed-profile-wrap {
  margin: 20px;
}
.profile-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
}
.profile-image {
  width: 100px;
  height: 100px;
}

.feed-follow > table > tbody > tr > th {
  width: 100px;
  text-align: center;
  font-size: 18px;
}
.feed-follow > table > tbody > tr > td {
  width: 100px;
  text-align: center;
  font-size: 16px;
}
.followClick {
  cursor: pointer;
}
.feed-memberName {
  font-size: 20px;
  font-family: ns-b;
  margin: 10px 0;
}

.feed-memberContent > div {
  width: 500px;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: pre-line;
  overflow-wrap: break-word;
  overflow: hidden;
  height: 100%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.profile-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 20px;
}

.profile-button > button {
  border: none;
  width: 120px;
  height: 50px;
  border-radius: 5px;
  margin-right: 15px;
  font-size: 16px;
}
.profile-button > button:hover {
  /* background-color: #5457e9; */
  border: none;
}
.profile-button > .followBtn {
  background-color: #5457e9;
  color: #fff;
}
.profile-button > .followingBtn {
  background-color: #ccc;
}
.profile-category > a {
  display: inline-block;
  color: #220895;
  font-size: 17px;
  margin-right: 20px;
}
.profile-category > a:hover {
  font-family: ns-b;
}
.profile-menu {
  width: 100%;
}
.profile-menu > ul {
  list-style-type: none;
  box-sizing: border-box;
  overflow: hidden;
}
.profile-menu > ul > li {
  float: left;
  width: 50%;
  height: 60px;
  line-height: 60px;
  font-size: 19px;
  text-align: center;
}
.profile-menu > ul > li > a {
  width: 100%;
  height: 100%;
  display: inline-block;
  border-top: 1px solid #ccc;
}
.profile-menu > ul > li > a.active-profile-menu {
  border-top: 5px solid #5457e9;
  font-family: ns-b;
}
.feedList-wrap {
  width: 100%;
}
.feed-item-wrap {
  overflow: hidden;
}
.feed-item {
  float: left;
  box-sizing: border-box;
  width: calc(100% / 3);
  padding: 2px;
  cursor: pointer;
}
.feed-item-img {
  height: 263px;
  position: relative;
}
.feed-item-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feed-item-img > img:hover {
  filter: grayscale(10%) brightness(70%);
}
.feed-view-wrap {
  width: 580px;
  margin: 0 auto;
}
.feed-view-top {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  /* border: 1px solid #ccc; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0;
}
.feed-view-writerImg .css-pl8gqh-MuiStack-root {
  margin-left: 10px;
}
.feed-view-writerImg {
  cursor: pointer;
}
.feed-view-writer {
  cursor: pointer;
  font-size: 18px;
  font-family: ns-b;
  width: 77%;
}
.feed-view-date {
  margin-right: 10px;
  text-align: right;
  font-size: 14px;
}
.feed-view-image {
  width: 100%;
  height: 580px;
}
.feed-view-image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.feed-view-content {
  margin: 10px 5px;
  font-size: 16px;
  white-space: pre-line;
  overflow-wrap: break-word;
  height: 100%;
  /* display: -webkit-box;
  -webkit-box-orient: vertical; */
}
/* .feed-view-mid {
  border: 1px solid #ccc;
} */
.feed-view-mid-icon {
  display: flex;
  align-items: center;
  margin: 12px;
  justify-content: space-between;
}
.feed-view-mid-icon > div {
  display: flex;
}
.feed-view-like > div {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.feed-view-mid-icon > div > span:first-child {
  padding-right: 6px;
}
.feed-view-like {
  padding-right: 22px;
  cursor: pointer;
}
.likeicon {
  color: #f00;
}
.feed-current-content {
  width: 100%;
  overflow: hidden;
  background-color: #f1f1f1;
}
/* 피드 모임 디자인 */
.groupList-wrap {
  width: 100%;
  min-height: 380px;
}
.group-item-wrap {
  width: 100%;
  padding: 50px 0;
}
.feed-group-item {
  margin: 30px 140px;
  padding: 15px;
  background-color: #fff;
  border-radius: 7px;
  display: flex;
  cursor: pointer;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2) inset; */
}
.feed-group-img {
  width: 120px;
  height: 120px;
  border-radius: 7px;
  margin-right: 20px;
}
.feed-group-img > img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}
.feed-group-category > a {
  color: #220895;
  font-size: 14px;
}
.feed-group-category > a:hover {
  font-family: ns-b;
}
.feed-group-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.feed-group-name {
  width: 300px;
  margin-bottom: 3px;
  font-size: 18px;
  font-family: ns-b;
  overflow: hidden;
  white-space: nowrap;
  height: 30px;
  text-overflow: ellipsis;
}
.feed-group-local,
.feed-group-maxNum {
  font-size: 15px;
  color: #616161;
  margin-top: 3px;
}
.feed-group-local,
.feed-group-maxNum {
  display: flex;
  align-items: center;
}
.feed-group-local > span {
  padding-right: 2px;
  font-size: 18px;
  color: #616161;
}
.feed-group-member {
  margin-top: 2px;
}
.feed-group-maxNum > span {
  padding-right: 5px;
  font-size: 18px;
  color: #616161;
}
.feed-like-person-wrap {
  padding-right: 10px;
}
.none-groupList-wrap {
  height: 470px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.none-msg {
  text-align: center;
}
.none-msg > span {
  font-size: 100px;
  color: #616161;
  margin-bottom: 20px;
}
.none-msg-content {
  margin-bottom: 40px;
  color: #616161;
  /* font-family: ns-b; */
  font-size: 17px;
}
.feedList-wrap {
  background-color: #fff;
}
.feed-view-btn-zone > span {
  cursor: pointer;
}
.feed-view-btn-zone > span:hover {
  font-weight: 800;
}
.feed-count {
  padding-left: 5px;
}
.feed-like-person-wrap .css-sxh3gq-MuiAvatar-root-MuiAvatarGroup-avatar {
  width: 25px;
  height: 25px;
}
