.login-wrap {
  width: 400px;
  margin: 0 auto;
  padding: 80px;
}

.login-title {
  text-align: center;
  color: #220895;
  font-size: 24px;
  padding: 50px;
}

.login-input-wrap {
  margin: 20px 0px;
}
.login-icon-box {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  justify-content: center;
}
.login-icon-box > a > img {
  font-size: 22px;
  margin: 10px 20px;
  cursor: pointer;
}
.find-box {
  display: flex;
  align-items: center;
  margin: 10px 0px;
  justify-content: center;
}
.find-box > span {
  font-size: 22px;
  transform: rotate(90deg);
}
.find-box > a {
  font-size: 0.9em;
  height: 20px;
  line-height: 20px;
}
.find-box > a:hover {
  text-decoration: underline;
}

.login-btn-box {
  margin-top: 40px;
  text-align: center;
}
.login-btn-box > button {
  width: 100%;
  border: none;
}
.login-btn-box > button:hover {
  background-color: #5457e9;
  border: none;
}

/*join*/
.join-wrap {
  margin: 0 auto;
  width: 600px;
}
.join-title {
  text-align: center;
  color: #220895;
  font-size: 24px;
  padding: 50px;
}
.join-wrap > input {
  width: 50px;
}
.join-mail-wrap > input,
textarea {
  width: 100%;
  display: block;
  padding: 0.9rem;
  background-color: #fff;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  resize: none;
}
.check-msg {
  color: red;
}
.join-wrap input,
textarea {
  margin-top: 20px;
}
.join-category-title {
  padding: 10px 0;
}
.join-btn-box {
  text-align: center;
  margin: 30px 0;
}
.join-btn-box > .btn {
  width: 300px;
}
.join-btn-box > .btn:hover {
  background-color: #5457e9;
}
.join-category .MuiInputBase-root {
  padding: 0;
  width: 600px;
}

.member-thumbnail > div {
  display: flex;
  align-items: flex-start;
}
.member-thumbnail textarea {
  margin-left: 20px;
}
.member-thumbnail input {
  margin-top: 0;
}
.join-category-title {
  border-top: 1px solid black;
  margin-top: 20px;
}
input[type="file"]::file-selector-button {
  width: 150px;
  height: 30px;
  background: #5457e9;
  color: #fff;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  margin-bottom: 20px;
}
input[type="file"]::file-selector-button:hover {
  box-shadow: 200px 0 0 0 rgba(0, 0, 0, 0.5) inset;
}
