/* 
  사이트 사용 색상 
  balck : #252A34
  darkgray : #393E46
  lightgray : #EEEEEE
  white : #fff
  
  메인색상 (찐한순)
  #220895 rgba(34,8,149)
  #5457E9 rgba(84,87,233)
  #8BB4FF rgba(139,180,255)
    */

.board-all-wrap {
  width: 1200px;
  margin: 50px auto;
}
.board-title {
  font-size: 20px;
  color: #8bb4ff;
  padding: 30px 0px;
  border-bottom: 2px solid #220895;
  font-weight: bold;
  text-align: center;
}
.board-list-wrap {
  overflow: hidden;
  margin-top: 20px;
}
.board-list-wrap > table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}
.board-list-wrap > table > thead > tr {
  font-weight: bold;
  background-color: #8bb4ff;
  height: 40px;
  text-align: center;
  box-sizing: border-box;
}
.board-list-wrap > table > thead > tr > td {
  color: white;
  font-size: 15px;
}
.board-item {
  height: 50px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}
/* write */
.board-page {
  margin-top: 30px;
}
.board-write-btn {
  padding: 20px 0px;
}
.board-write-btn > button {
  width: 100px;
}

.board-content-box > textarea {
  width: 100%;
  height: 300px;
}
.board-frm-top {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.board-info {
  width: 100%;
}
.board-info-tbl {
  border-spacing: 0;
  width: 100%;
}
.board-info-tbl tr > td:first-child {
  width: 150px;
  padding: 15px 20px;
  background-color: rgba(5, 59, 80, 0.1);
  border: 1px solid rgba(5, 59, 80, 0.1);
  text-align: center;
}
.board-info-tbl tr > td:last-child {
  padding: 10px 20px;
  border: 1px solid #ccc;
}
.board-info-tbl tr > td > input[type="text"] {
  border: none;
  padding: 0;
}
.board-content-box {
  margin: 10px 0px;
}
.board-btn-box {
  margin-top: 20px;
  text-align: center;
}
.board-view-wrap {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.board-view-wrap > div {
  padding: 10px;
  border-top: 1px solid #ccc;
}
.board-view-wrap > .board-view-title {
  font-size: 1.2em;
  font-family: ns-b;
  border-top: 1px solid #053b50;
}
.board-view-info {
  display: flex;
}
.board-view-info > div {
  margin-right: 10px;
  font-size: 0.9em;
}
.board-view-detail {
  min-height: 400px;
  border-bottom: 1px solid #053b50;
}
.board-content-box .ql-container {
  height: 400px;
}
.board-view-btn-zone {
  padding: 20px 0px;
}
.board-view-btn-zone > button {
  width: 60px;
  margin-right: 20px;
}
