/* 
  사이트 사용 색상 
  balck : #252A34
  darkgray : #393E46
  lightgray : #EEEEEE
  white : #fff
  
  메인색상 (찐한순)
  #220895 rgba(34,8,149)
  #5457E9 rgba(84,87,233)
  #8BB4FF rgba(139,180,255)
    */
/* 
메인 색상
053B50 rgb(5, 59, 80)
176B87 rgb(23, 107, 135)
64CCC5 rgb(100, 204, 197)
EEEEEE rgb(238, 238, 238)
*/

.board-all-wrap {
  width: 1200px;
  margin: 50px auto;
}
.board-title {
  font-size: 20px;
  color: #053b50;
  padding: 30px 0px;
  border-bottom: 2px solid #053b50;
  font-family: ns-b;
}
.board-list-wrap {
  overflow: hidden;
  padding: 10px;
}
.board-item {
  float: left;
  box-sizing: border-box;
  width: calc(100% / 4);
  padding: 30px;
  cursor: pointer;
}
.board-item:hover {
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.board-item-img {
  height: 238px;
}
.board-item-img > img {
  width: 100%;
  height: 100%;
  /* 이미지 맞춰서 사용(이미지 잘리는 걸 방지)  */
  object-fit: contain;
}
.board-item-info {
  margin-top: 30px;
}
.board-item-title {
  /* 글씨가 길 경우  아래가 아닌 가로로 */
  white-space: nowrap;
  overflow: hidden;
  /* 글씨가 길 경우 ...으로 처리 */
  text-overflow: ellipsis;
  font-family: ns-eb;
  font-size: 1.2em;
  margin-bottom: 10px;
}
.board-item-writer,
.board-item-date {
  font-family: ns-b;
  font-size: 0.9em;
}
.board-page {
  margin-top: 30px;
}
.board-write-btn {
  padding: 20px 0px;
}
.board-write-btn > button {
  width: 100px;
}
.board-frm-title {
  font-size: 18px;
  color: #176b87;
  font-family: ns-b;
  padding: 30px 0px;
}
.board-content-box > textarea {
  width: 100%;
  height: 300px;
}
.board-frm-top {
  display: flex;
  justify-content: space-between;
}
.board-thumbnail {
  width: 280px;
  height: 280px;
  box-sizing: border-box;
  padding: 10px;
  border: 1px solid #ccc;
}
.board-thumbnail > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.board-info {
  width: 900px;
}
.board-info-tbl {
  border-spacing: 0;
  width: 100%;
}
.board-info-tbl tr > td:first-child {
  width: 150px;
  padding: 10px 20px;
  background-color: rgba(5, 59, 80, 0.1);
  border: 1px solid rgba(5, 59, 80, 0.1);
}
.board-info-tbl tr > td:last-child {
  padding: 10px 20px;
  border: 1px solid #ccc;
}
.board-info-tbl tr > td > input[type="text"] {
  border: none;
  padding: 0;
}
.file-list .file-zone {
  height: 118px;
  /* 높이 넘겼을 때 스크롤바 생성 */
  overflow-y: auto;
}
.board-content-box {
  margin: 10px 0px;
}
.board-btn-box {
  margin-top: 20px;
}
.file-zone > p {
  margin: 0;
  padding: 5px;
  position: relative;
}
.file-zone > p:hover {
  background-color: rgba(100, 204, 197, 0.1);
}
.board-view-wrap {
  width: 1000px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.board-view-wrap > div {
  padding: 10px;
  border-top: 1px solid #ccc;
}
.board-view-wrap > .board-view-title {
  font-size: 1.2em;
  font-family: ns-b;
  border-top: 1px solid #053b50;
}
.board-view-info {
  display: flex;
}
.board-view-info > div {
  margin-right: 10px;
  font-size: 0.9em;
}
.board-view-thumbnail {
  text-align: center;
}
.board-view-thumbnail > img {
  max-width: 100%;
}
.board-view-detail {
  min-height: 400px;
  border-bottom: 1px solid #053b50;
}
.board-view-file {
  min-height: 30px;
}
.board-view-file > .board-file {
  padding: 10px;
  position: relative;
}
.board-view-file > .board-file:hover {
  background-color: rgba(238, 238, 238, 0.5);
}
.board-file > .file-icon {
  position: absolute;
  top: 11px;
  cursor: pointer;
}
.board-file > .file-name {
  margin-left: 36px;
}
.board-content-box .ql-container {
  height: 400px;
}
.board-view-btn-zone {
  padding: 20px 0px;
}
.board-view-btn-zone > button {
  width: 60px;
  margin-right: 20px;
}
.file-zone > p > .del-file-icon {
  position: absolute;
  right: 0;
  top: 5px;
  cursor: pointer;
}
