/* 
  사이트 사용 색상 
  balck : #252A34
  darkgray : #393E46
  lightgray : #EEEEEE
  white : #fff
  
  메인색상 (찐한순)
  #220895 rgba(34,8,149)
  #5457E9 rgba(84,87,233)
  #8BB4FF rgba(139,180,255)
    */

.board-all-wrap {
  margin: 50px auto;
}
.board-title {
  font-size: 20px;
  color: #8bb4ff;
  padding: 30px 0px;
  border-bottom: 2px solid #220895;
  font-weight: bold;
  text-align: center;
}
.board-list-wrap {
  overflow: hidden;
  margin-top: 20px;
}
.board-list-wrap > table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
}
.board-list-wrap > table > thead > tr {
  font-weight: bold;
  background-color: #8bb4ff;
  height: 50px;
  text-align: center;
  box-sizing: border-box;
}
.board-list-wrap > table > thead > tr > td {
  color: white;
  font-size: 15px;
}
.board-item {
  height: 50px;
  text-align: center;
  font-size: 15px;
  cursor: pointer;
}
/* write */
.board-page {
  margin-top: 30px;
}
.board-write-btn {
  padding: 20px 0px;
}
.board-write-btn > button {
  width: 100px;
}

.board-content-box > textarea {
  width: 100%;
  height: 300px;
}
.board-frm-top {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.board-info {
  width: 100%;
}
.board-info-tbl {
  border-spacing: 0;
  width: 100%;
}
.board-info-tbl tr > td:first-child {
  width: 150px;
  padding: 15px 20px;
  background-color: rgba(5, 59, 80, 0.1);
  border: 1px solid lightgray;
  text-align: center;
}
.board-info-tbl tr > td:last-child {
  padding: 10px 20px;
  border: 1px solid lightgray;
}
.board-info-tbl tr > td > input[type="text"] {
  border: none;
  padding: 0;
}
.board-content-box {
  margin: 10px 0px;
}
.board-btn-box {
  margin-top: 20px;
  text-align: center;
}
.board-content-box .ql-container {
  height: 400px;
}
.board-view-wrap {
  width: 800px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
}
.board-view-table {
  border-collapse: collapse;
}
.board-view-info {
  width: 15%;
  height: 50px;
  background-color: #8bb4ff;
  color: white;
  border: 1px solid lightgray;
}
.board-view-info-content {
  width: 600px;
  height: 50px;
  text-align: center;
  border: 1px solid lightgray;
}
.board-view-info-content2 {
  height: 500px;
}
.board-view-info-title {
  width: 50%;
}
.board-view-info-title2 {
  width: 10%;
}
.board-view-info-date {
  width: 10%;
}
.board-view-btn-zone {
  padding: 20px 0px;
  text-align: center;
}

.board-view-btn-zone > button {
  margin-right: 20px;
  width: 130px;
  border-radius: 5px;
  height: 50px;
  line-height: 10px;
}
.board-view-btn-zone > button:first-child {
  background-color: #5457e9;
  border: none;
}
.board-view-btn-zone > button:first-child:hover {
  background-color: #220895;
  border: none;
}
a.active-side {
  background-color: #5457e9;
  color: #fff;
}
