.page-list-wrap {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.page-item-wrap {
  width: 600px;
  height: 300px;
  overflow: hidden;
  float: left;
  width: calc(100% / 2);
  border: 1px solid black;
  cursor: pointer;
  box-sizing: border-box;
  padding: 40px;
}
.page-item-img {
  width: 300px;
  height: 200px;
  float: left;
  box-sizing: border-box;
  text-align: center;
  line-height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.page-item-img > img {
  width: 70%;
  height: 100%;
  object-fit: contain;
}
.page-item-info {
  height: 200px;
  float: left;
  box-sizing: border-box;
}
.page-infos {
  line-height: 30px;
  padding-top: 20px;
}
