.lounge-title > h2 {
  color: #8bb4ff;
}
.lounge-title {
  text-align: center;
  font-size: 20px;
  padding: 30px 0px;
}
.lounge-all-wrap {
  width: 1200px;
  margin: 50px auto;
}
.lounge-explain {
  height: 100px;
  line-height: 100px;
}
/* loungeList css */
.lounge-list-wrap {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
}
.lounge-item-wrap {
  /* height: 350px; */
  overflow: hidden;
  float: left;
  width: calc(90% / 4);
  /*border: 1px solid black;*/
  cursor: pointer;
  box-sizing: border-box;
  padding: 15px;
  background-color: #fff;
  border-radius: 20px;
  margin: 15px;
  /* padding-top: 20px; */
  padding-bottom: 50px;
}
.lounge-item-wrap:hover {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}
.lounge-item-img {
  width: 100%;
  /*height: 200px;*/
  height: 250px;
  /*float: left;*/
  box-sizing: border-box;
  text-align: center;
  border-radius: 15px;
}
.lounge-item-img > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}
.lounge-item-info {
  width: 100%;
  /*height: 200px;*/
  height: 30%;
  /*float: left;*/
  box-sizing: border-box;
  /* padding-left: 10px; */
}
.lounge-infos {
  line-height: 40px;
  /*padding-top: 30px;*/
  width: 100%;
  height: 100%;
}
.lounge-content {
  box-sizing: border-box;
  /* white-space: nowrap; */
  padding: 5px;
  width: 100%;
  font-size: 12px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  height: 40px;
  line-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.lounge-writer-name {
  font-weight: bold;
  height: 40px;
}
