.links > a {
  margin-left: 30px;
}
.admin-content {
  display: flex;
}
.admin-current-content {
  flex: 1;
}
.admin-content-title {
  font-size: 24px;
  font-family: ns-b;
  padding-bottom: 10px;
}
.adminmenu {
  width: 500px;
}
.adminmenu > ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 12px;
}
.adminmenu > ul > li {
  line-height: 50px;
  height: 50px;
  float: left;
  margin-left: 30px;
}
.adminmenu > ul > li > a {
  color: black;
  font-size: 20px;
  font-family: ns-b;
  padding: 20px;
}
.adminmenu > ul > li > a.active-side {
  background-color: #5457e9;
  border-radius: 20px;
  color: #fff;
}
.adminmenu > ul > li > a.active-side > span {
  color: #fff;
}
.admin-member-tbl-box {
  padding: 30px;
}
.admin-member-tbl-box > table {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  border-spacing: 0;
}
.admin-member-tbl-box td {
  text-align: center;
  height: 70px;
}
.admin-member-tbl-box th {
  font-size: 18px;
  padding-bottom: 15px;
}
.admin-member-tbl-box > table > tbody td {
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}
.admin-report-board {
  padding: 30px;
}
.admin-report-board th {
  font-size: 18px;
  padding-bottom: 10px;
}
.admin-report-board td {
  text-align: center;
  border-bottom: 1px solid #ccc;
  height: 70px;
}
.admin-report-board > table {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  border-spacing: 0;
  width: 100%;
}
#reportDetail {
  text-align: left;
}
.admin-report-detail > div {
  width: 100%;
  /*white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;*/
}
.admin-group-name > div {
  width: 100%;
}
.admin-group-name {
  text-align: center;
  white-space: normal;
  text-overflow: ellipsis;
  padding-right: 10px;
}
.admin-report-detail {
  text-align: center;
  white-space: normal;
  padding-right: 10px;
}
.admin-tbl-line:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
