.links > a {
  margin-left: 30px;
}
.admin-content {
  display: flex;
}
.admin-current-content {
  flex: 1;
}
.admin-content-title {
  font-size: 24px;
  font-family: ns-b;
  padding-bottom: 10px;
}
.adminmenu {
  width: 500px;
}
.adminmenu > ul {
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 12px;
}
.adminmenu > ul > li {
  line-height: 50px;
  height: 50px;
  float: left;
  margin-left: 30px;
}
.adminmenu > ul > li > a {
  color: black;
  font-size: 20px;
  font-family: ns-b;
  padding: 20px;
}
.adminmenu > ul > li > a.active-side {
  background-color: #5457e9;
  color: #fff;
}
.adminmenu > ul > li > a.active-side > span {
  color: #fff;
}
.admin-member-tbl-box {
  padding: 30px;
}
.admin-member-tbl-box > table {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}
.admin-member-tbl-box td {
  text-align: center;
  border-bottom: 1px solid #ccc;
  height: 70px;
}
.admin-report-board {
  padding: 30px;
}
.admin-report-board td {
  text-align: center;
  border-bottom: 1px solid #ccc;
  height: 70px;
}
.admin-report-board > table {
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
}
#reportDetail {
  text-align: left;
}
