.svgmap {
  width: 85vw;
  height: 85vh;
}

svg > .local {
  fill: #fffdfd;
  stroke: #dde9ff;
  stroke-width: 1.5px;
}
svg > .local:hover {
  fill: #c5d9ff;
  cursor: pointer;
}
.mapMarker {
  color: #0059ff;
}
svg text {
  pointer-events: none;
  font-size: 13px;
}
