.loading-main {
  font-size: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: transpert;
}
.circle-main {
  height: 98vh;
  width: 100vw;
  background-color: #000;
}
.black-main {
  height: 100vh;
  width: 100vw;
  cursor: none;
}
/*아이콘*/
.scroll-icon {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: bounce 0.9s infinite;
  cursor: pointer;
}
.scroll-icon svg {
  fill: #fff;
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(0px);
  }
}
/*Black*/
.black {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #000;
}

.cursor {
  background-color: #ffffff;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}
.black-title {
  font-size: 7rem;
  color: #fff;
  text-align: center;
}
