/* MeetingCreate.css */
.meeting-wrap {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.meeting-title {
  font-size: 28px;
  margin-bottom: 20px;
  color: #5457e9; /* 포인트 컬러 */
}

.meeting-title div {
  margin-bottom: 20px;
}

.example-custom-input {
  background-color: #282c34;
  color: white;
  cursor: pointer;
  width: 240px;
  padding: 10px;
  margin-bottom: 5px;
}

/* .meeting-form input,
select {
  width: 100%;
  display: block;
  padding: 0.8rem;
  background-color: #fff;
  outline: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
} */

.meeting-date label {
  display: block;
}
.meeting-date > .react-datepicker-wrapper {
  margin: 0 !important;
}
.meeting-date > .react-datepicker-wrapper input {
  width: 100%;
  display: block;
  padding: 0.9rem;
  background-color: #fff;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
}
.meeting-date {
  margin: 0 !important;
}
.meeting-input {
  margin-bottom: 5px;
}
