/* MeetingCreate */
.meeting-wrap {
  max-width: 600px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 8px;
}

.meeting-title {
  font-size: 28px;
  text-align: center;
  padding: 40px;
  color: #8bb4ff;
}

.meeting-title div {
  margin-bottom: 20px;
}

.meeting-wrap button {
  border-radius: 5px;
}
.example-custom-input {
  background-color: #282c34;
  color: white;
  cursor: pointer;
  width: 240px;
  padding: 10px;
  margin-bottom: 5px;
}

.meeting-date label {
  display: block;
}
.meeting-date > .react-datepicker-wrapper {
  margin: 0 !important;
}
.meeting-date > .react-datepicker-wrapper input {
  width: 100%;
  display: block;
  padding: 0.9rem;
  background-color: #fff;
  outline: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  cursor: pointer;
}
.meeting-date {
  margin: 0 !important;
}
#meeting-date,
#meetingPlace {
  background-color: #fff;
}
.meeting-input {
  margin-bottom: 10px;
}
.meeting-label {
  margin: 10px 0;
}
#meeting-btn {
  text-align: center;
  margin: 20px;
}
#meeting-btn :first-child {
  margin-right: 15px;
}
#meeting-btn button {
  width: 120px;
  border: none;
  background-color: #5457e9;
}
#meeting-btn > button:hover {
  background-color: rgba(37, 42, 52, 0.9);
  border: none;
}
#meetingPlace {
  width: 500px;
  float: left;
  margin-right: 10px;
}

/* MeetingView */
.meetingView-frm {
  margin: 10px 85px 0px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 20px 10px;
  background-color: rgba(248, 249, 250, 1);
}
.meetingView-title {
  padding: 20px 0px 0px 80px;
}
.meetingView-content {
  margin-left: 20px;
}
.meetingView-content div {
  padding-bottom: 10px;
}
.meeting-Dday {
  padding-bottom: 5px;
}
.meeting-Dday span {
  color: red;
  padding-left: 10px;
}
.meeting-content {
  font-weight: bold;
}
#meeting-btn-area {
  margin: 20px 80px;
  text-align: right;
}
#meeting-btn-area > button {
  background-color: #5457e9;
  border: none;
  border-radius: 5px;
  color: #fff;
}
#meeting-btn-area > button:hover {
  background-color: rgba(57, 62, 70, 0.9);
}
#meeting-btn-area2 button {
  background-color: #8bb4ff;
  border: #8bb4ff;
  border-radius: 5px;
  width: 90px;
  height: 50px;
  padding: 0.5rem;
}
#meeting-btn-area2 button:hover {
  background-color: rgba(37, 42, 52, 0.9);
  border: rgba(37, 42, 52, 0.9);
}
#meeting-btn-area2 :first-child {
  margin-right: 10px;
}
.price-icon {
  font-weight: bold;
  padding: 0 7px 0 1px;
}
.meetingView-content > div .material-icons {
  vertical-align: middle;
  font-size: 22px;
  padding-right: 5px;
}
.meetingView-content > div .material-icons:first-child {
  line-height: 1px;
}

#meeting-place-detail {
  padding-left: 68px;
}
/* PostCode */
#address-btn > button {
  background-color: #535760;
  color: #fff;
  font-weight: 500;
  width: 90px;
  height: 53px;
  border: none;
  padding: 0.5rem;
}
#address-btn > button:hover {
  background-color: #43444e;
  color: #fff;
}
