<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.semo.feed.model.dao.FeedDao">
  <insert id="insertFeed">
  	insert into feed values(feed_seq.nextval, #{feedImg}, #{feedContent}, #{feedWriter}, sysdate)
  </insert>
  <select id="selectFeedList" resultType="feed">
  	select * from feed where feed_writer = #{feedWriter} order by 1 desc
  </select>
  <select id="feedCount" resultType="int">
  	select count(*) from feed where feed_writer = #{feedWriter}
  </select>
  <select id="selectOneFeed" resultType="feed">
  	select
  		feed_no,
  		feed_img,
  		feed_content,
  		feed_writer,
  		member_name,
  		member_id,
  		member_img,
  		feed_date
  	from feed
  	join member on (feed_writer = member_no)
  	where feed_no = #{feedNo}
  </select>
  <update id="updateFeed">
  	update feed set
  		feed_img = #{feedImg},
  		feed_content = #{feedContent}
  	where feed_no = #{feedNo}
  </update>
  <delete id="deleteFeed">
  	delete from feed where feed_no = #{feedNo}
  </delete>
  <select id="getFeedLike" resultType="int">
  	select member_no from feed_like where feed_no = #{feedNo}
  </select>
  <select id="feedLikeCount" resultType="int">
  	select count(*) as feed_like_count from feed_like where feed_no=#{feedNo}
  </select>
  <select id="getIsLike" resultType="int">
  	select count(*) as is_like from feed_like where feed_no= #{feedNo} and member_no=#{memberNo}
  </select>
  <insert id="insertFeedLike">
  	insert into feed_like values(#{feedNo},#{memberNo})
  </insert>
  <delete id="deleteFeedLike">
  	delete from feed_like where feed_no = #{feedNo} and member_no=#{memberNo}
  </delete>
  <insert id="insertComment">
  	insert into feed_comment values(feed_comment_seq.nextval,#{feedNo},#{feedCommentWriter},#{feedCommentContent},#{feedCommentRef},sysdate)
  </insert>
  <select id="feedCommentList" resultType="feedComment">
  	select fc.*,member_name,member_img
	from (select * from feed_comment)fc
	join member on (feed_comment_writer = member_no)
	where feed_no=#{feedNo} and feed_comment_no2 is null order by 1 desc
  </select>
  <delete id="deleteComment">
  	delete from feed_comment where feed_comment_no=#{feedCommentNo}
  </delete>
  <update id="modifyComment">
  	update feed_comment set feed_comment_content=#{feedCommentContent} where feed_comment_no=#{feedCommentNo}
  </update>
  <select id="feedReCommentList" resultType="feedComment">
  	select fc.*,member_name,member_img
	from (select * from feed_comment)fc
	join member on (feed_comment_writer = member_no)
	where feed_no=#{feedNo} and feed_comment_no2 is not null order by 1 desc
  </select>
  <select id="getCommentCount" resultType="int">
  	select count(*) from feed_comment where feed_no=#{feedNo}
  </select>
  <select id="selectGroupList" resultType="group">
  	SELECT group_tbl.*
	FROM group_tbl
	JOIN gr_join
	ON group_tbl.group_no = gr_join.group_no
	WHERE gr_join.member_no = #{memberNo}
  </select>
  <select id="selectOneCommentLike" resultType="feedCommentLike">
  	select * from feed_comment_like
	where feed_comment_no = #{feedCommentNo} and member_no = #{memberNo}
  </select>
  <delete id="deleteCommentLike">
  	delete from feed_comment_like
	where feed_comment_no = #{feedCommentNo} and member_no = #{memberNo}
  </delete>
  <insert id="insertCommentLike">
  	insert into feed_comment_like values(#{feedCommentNo}, #{memberNo})
  </insert>
  <select id="commentLikeCount" resultType="int">
  	select count(*) from feed_comment_like where feed_comment_no=#{feedCommentNo}
  </select>
  <select id="commentLikeState" resultType="int">
  	select count(*) from feed_comment_like where feed_comment_no=#{feedCommentNo} and member_no=#{memberNo}
  </select>
</mapper>
