<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.semo.groupBoard.model.dao.GroupBoardDao">
	<select id="totalCount" resultType="int">
		select count(*) from gr_board where gr_board_state=1
	</select>
	
	<select id="selectgroupBoardList" resultType="groupBoard">
		select * from
			(select rownum as rnum, b.* from
			(select 
			    gr_board_no,
			    gr_board_title,
			    gr_board_writer,
			    member_id,
			    to_char(gr_board_date, 'yyyy-mm-dd') as gr_board_date
			from gr_board
			join member on (gr_board_writer = member_no)
			where gr_board_state = 1 and group_no = #{groupNo}
			order by 1 desc) b)
		where rnum between #{pi.start} and #{pi.end}
	</select>
	<insert id="insertGroupBoard">
		insert into gr_board values(gr_board_seq.nextval, #{grBoardTitle}, #{grBoardContent}, sysdate, #{grBoardWriter}, #{groupNo}, 1)
		<selectKey resultType="int" keyProperty="grBoardNo" order="AFTER">
			select max(gr_board_no) from gr_board
		</selectKey>
	</insert>
	<select id="selectOneGroupBoard" resultType="groupBoard">
		select 
			gr_board_no, gr_board_title, gr_board_content, to_char(gr_board_date,'yyyy-mm-dd') as gr_board_date, gr_board_writer, member_name, group_no, gr_board_state
		from gr_board 
		join member on(gr_board_writer = member_no)
		where gr_board_no = #{grBoardNo}
	</select>
	<update id="updateGroupBoard">
		update gr_board set 
			gr_board_title = #{grBoardTitle}, gr_board_content = #{grBoardContent}
		where gr_board_no = #{grBoardNo}
	</update>
	<delete id="deleteGroupBoard">
		delete from gr_board where gr_board_no = #{grBoardNo}
	</delete>
	<insert id="insertComment">
  		insert into gr_board_comment values(gr_board_comment_seq.nextval,#{grBoardNo},#{grBoardCommentWriter},#{grBoardCommentContent},#{grBoardCommentRef},sysdate)
  	</insert>
  	<select id="groupBoardCommentList" resultType="groupBoardComment">
	  	select fc.*,member_name, member_img
		from (select * from gr_board_comment)fc
		join member on (gr_board_comment_writer = member_no)
		where gr_board_no=#{grBoardNo} and gr_board_comment_no2 is null order by 1 desc
	 </select>
  	<delete id="deleteComment">
  		delete from gr_Board_comment where gr_Board_comment_no=#{grBoardCommentNo}
  	</delete>
  	<update id="modifyComment">
  		update gr_Board_comment set gr_Board_comment_content=#{grBoardCommentContent} where gr_Board_comment_no=#{grBoardCommentNo}
  	</update>
  	<select id="groupBoardReCommentList" resultType="groupBoardComment">
	  	select fc.*,member_name, member_img
		from (select * from gr_board_comment)fc
		join member on (gr_board_comment_writer = member_no)
		where gr_board_no=#{grBoardNo} and gr_board_comment_no2 is not null order by 1 desc
	</select>
	<select id="selectOneGroupBoardCommentLike" resultType="groupBoardCommentLike">
		select * from gr_board_comment_like
		where gr_board_comment_no = #{grBoardCommentNo} and member_no = #{memberNo}
	</select>
	<insert id="insertGroupBoardCommentLike">
		insert into gr_board_comment_like values(#{grBoardCommentNo}, #{memberNo})
	</insert>
	<delete id="deleteGroupBoardCommentLike">
		delete from gr_board_comment_like
		where gr_board_comment_no = #{grBoardCommentNo} and member_no = #{memberNo}
	</delete>
	<select id="groupBoardCommentLikeCount" resultType="int">
  		select count(*) from gr_board_comment_like where gr_board_comment_no=#{grBoardCommentNo}
 	</select>
 	<select id="groupBoardCommentLikeState" resultType="int">
  		select count(*) from gr_board_comment_like where gr_board_comment_no=#{grBoardCommentNo} and member_no=#{memberNo}
  	</select>
</mapper>