<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.semo.group.model.dao.GroupDao">
	
	<!-- 그룹 생성 -->
	<insert id="insertGroup">
		insert into group_tbl values (group_tbl_seq.nextval,#{groupName},#{groupImg},#{groupMaxnum},#{groupContent},#{groupCategory},#{groupLocal})
	</insert>
	
	<!-- 모임장 그룹가입 => 1일때 모임장 -->
	<insert id="insertGroupJoin">
		insert into gr_join values(gr_join_seq.nextval,#{groupNo},#{memberNo},1)
	</insert>
	
	
	<select id="selectGroupNo" resultType="int">
		select max(group_no) from group_tbl
	</select>
	
	<select id="selectOneGroup" resultType="Group">
		select * from group_tbl where group_no=#{groupNo}
	</select>
	
	<!-- 일반회원 그룹가입 =>3일때 회원가입대기 -->
	<insert id="groupJoin">
		insert into gr_join values(gr_join_seq.nextval,#{groupNo},
		(select member_No from member where member_Id=#{memberId})
		,3)
	</insert>
	
	
	<!-- 자동 채팅방 생성 -->
	<insert id="insertChatRoom">
		insert into CHAT_ROOM values (CHAT_ROOM_SEQ.nextval,#{groupNo})
	</insert>
	
	
	<!-- 그룹가입여부 조회 -->
	<select id="joinState" resultType="GroupJoin">
		select * from gr_join where member_no=
		(select member_No from member where member_Id=#{memberId})
		and
		group_no=#{groupNo} 
	</select>
	
	<!-- 그룹 등급 조회 -->
	<select id="groupLevelState" resultType="Integer">
		select GR_JOIN_TYPE from gr_join where group_no=#{groupNo} and
		member_no=(select member_No from member where member_Id=#{memberId})
	</select>
	
	<!-- 그룹 탈퇴하기 -->
	<delete id="groupExit">
		delete from gr_join where member_no=
		(select member_No from member where member_Id=#{memberId}) 
		and
		group_no=#{groupNo}
	</delete>
	
	<select id="joinNum" resultType="int">
		select count(*) from gr_join where member_no=
		(select member_No from member where member_Id=#{memberId})
	</select>
	
	<select id="totalMemberCount" resultType="int">
		select group_maxnum from group_tbl where group_no=#{groupNo}
	</select>
	
	<!-- 채팅방 이름, 그룹 번호 불러오기 -->
	<select id="groupChatRoomName" resultType="Group">
    SELECT g.group_name,g.group_no
    FROM group_tbl g
    WHERE g.group_no IN (
        SELECT cr.group_no
        FROM chat_room cr
        JOIN gr_join gj ON cr.group_no = gj.group_no
        WHERE gj.member_no = #{memberNo}
    )
     ORDER BY g.group_no DESC
	</select>
	<!-- 채팅방 모든 멤버 불러오기 -->
	<select id="groupAllMember" resultType="Member">
		SELECT m.member_name, gj.GR_JOIN_TYPE
		FROM gr_join gj
		JOIN member m ON gj.member_no = m.member_no
		WHERE gj.group_no = #{groupNo}
		order by gj.GR_JOIN_TYPE
	</select>
	
	<select id="selectOneGroupSave" resultType="GroupSave">
		select * from group_save
		where group_no = #{groupNo} and member_no = #{memberNo}
	</select>
	<delete id="deleteGroupSave">
		delete from group_save 
		where group_no = #{groupNo} and member_no = #{memberNo}
	</delete>
	<insert id="insertGroupSave">
		insert into group_save values(group_save_seq.nextval, #{groupNo}, #{memberNo})
	</insert>
	
	<select id="peopleCount" resultType="int">
		select count(*) from gr_join where group_no=#{groupNo} and GR_JOIN_TYPE in (1,2)
	</select>
	<select id="peopleList" resultType="member">
		select member_no,member_img from gr_join join member using (member_no) where group_no=#{groupNo} and GR_JOIN_TYPE in (1,2) order by gr_join desc
	</select>
	
	<delete id="deleteGroup">
		delete from group_tbl where group_no=#{groupNo}
	</delete>
	
	<select id="LikeGroupNo" resultType="Integer">
		select group_no from group_save where member_no=#{memberNo}
	</select>
	
	<select id="myLikeGroup">
    	SELECT * FROM group_tbl
    		WHERE group_no IN
    	<foreach collection="groupNo" item="groupNo" open="(" separator="," close=")">
      		#{groupNo}
    	</foreach>
 	 </select>
	
	<select id="selectGrJoinMember" resultType="groupJoin">
		select * from gr_join 
		where group_no=#{groupNo}
	</select>
	<select id="groupMemberList" resultType="member">
		select * from member 
		where member_no in 
		(select member_no from gr_join where group_no=#{groupNo})
	</select>
	
	<!-- 가장 많이 찜된 그룹 검색 -->
	<select id="groupLikeList" resultType="groupSave">
	 SELECT ROWNUM, t.*
        FROM (
            SELECT group_no, COUNT(*) as count
            FROM group_save
            GROUP BY group_no
            ORDER BY COUNT(*) DESC
        ) t
        WHERE ROWNUM <![CDATA[<]]> 11
	</select>
	
	
	<select id="groupLikeListDetail" resultType="Group">
			select * from group_tbl where group_no in
  		<foreach collection="array" open="(" close=")" separator="," item="groupNo">
  			#{groupNo}
  		</foreach>
	</select>
	
	
</mapper>
