<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.semo.meeting.model.dao.MeetingDao">
	<insert id="createMeeting">
		insert into meeting values(
    		meeting_seq.nextval,
    		#{groupNo},
    		#{meetingName},
    		#{meetingDate},
    		#{meetingPlace},
    		#{meetingPlaceDetail},
    		#{meetingPrice},
    		#{meetingMaxnum})
	</insert>
	<select id="selectMeetingList" resultType="meeting">
		select * from meeting where group_no = #{groupNo} order by meeting_date
	</select>
	<insert id="joinMeeting">
		insert into meeting_join values(
			mt_join_seq.nextval,
			#{memberNo},
			#{grJoin},
			#{meetingNo},
			1)
	</insert>
	<select id="countMember" resultType="int">
		select count(mt_join) 
		from meeting JOIN meeting_join USING (meeting_no) 
		where meeting_no=#{meetingNo}
	</select>
	
	<delete id="cancelJoin">
		delete meeting_join where meeting_no=#{meetingNo} and member_no=
		(select member_no from member where member_id=#{memberId})
	</delete>
	
	
	<select id="selectJoinMember" resultType="int">
		select member_no from meeting_join 
		where meeting_no=#{meetingNo} and MT_JOIN_STATUS=1
	</select>
	
	<update id="modify">
		update meeting set 
		meeting_name=#{meetingName}, meeting_place=#{meetingPlace},
		meeting_place_detail=#{meetingPlaceDetail},meeting_price=#{meetingPrice}, 
		meeting_maxnum=#{meetingMaxnum} where meeting_no=#{meetingNo}
	</update>
	<delete id="delete">
		delete meeting where meeting_no=#{meetingNo}
	</delete>
	
	<select id="selectGrJoin" resultType="int">
		select gr_join from gr_join 
		where member_no=
		(select member_no from member where member_id=#{memberId})
		and group_no=#{groupNo}
	</select>
	 
	
	
	 
</mapper>