<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.semo.meeting.model.dao.MeetingDao">
	<insert id="createMeeting">
		insert into meeting values(
    		1,
    		25,
    		64,
    		#{meetingName},
    		#{meetingDate},
    		#{meetingPlace},
    		#{meetingPrice},
    		#{meetingMaxnum})
	</insert>
	<select id="selectOneMeeting" resultType="Meeting">
		select m.*,(select count(meeting_no) from meeting where group_no=m.group_no) meeting_Member from meeting m where group_no = #{groupNo}
	</select>
	
</mapper>