<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.semo.member.model.dao.MemberDao">
  
  <select id="selectOneMember" resultType="member">
  	select * from member where  member_id =#{memberId}
  </select>
  
  <insert id="insertMember">
  	insert into member values(member_seq.nextval,#{memberId},#{memberPw},#{memberPhone},#{memberName},#{memberMail},2,#{memberContent},#{memberCategory1},#{memberCategory2},#{memberLocal},#{memberImg})
  </insert>
  
  <select id="selectMember" resultType="member">
  	select * from member where member_no = #{memberNo}
  </select>
  
  
 	 <update id="updateMemberName">
 			update MEMBER set
			member_name = #{memberName}
			where member_id=#{memberId}
 	</update>
   	 <update id="updateMemberMail">
 			update MEMBER set
			member_mail = #{memberMail}
			where member_id=#{memberId}
 	</update>
     	 <update id="updateMemberPhone">
 			update MEMBER set
			member_phone = #{memberPhone}
			where member_id=#{memberId}
 	</update>
  
  
  
  
</mapper>
