<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.semo.member.model.dao.MemberDao">
  
  <select id="selectOneMember" resultType="member">
  	select * from member where  member_id =#{memberId}
  </select>
  
  <insert id="insertMember">
  	insert into member values(member_seq.nextval,#{memberId},#{memberPw},#{memberPhone},#{memberName},#{memberMail},2,#{memberContent},#{memberCategory1},#{memberCategory2},#{memberLocal},#{memberImg})
  </insert>
  
  <select id="selectMember" resultType="member">
  	select * from member where member_no = #{memberNo}
  </select>
  
  
 	<update id="updateMyInfo">
 			update MEMBER set
			member_name = #{memberName},
			member_mail = #{memberMail},
			member_phone = #{memberPhone}
			where member_id=#{memberId}
 	</update>
 	 <update id="updatePwMember">
 			update MEMBER set
			member_pw = #{memberPw}
			where member_id=#{memberId}
 	</update>
  
  	<select id="selectByOauthLogin" resultType="member">
  		select * from member where member_id=#{memberId}
  	</select>
  
   	<update id="updateMyFeed">
 			update MEMBER set
			member_img = #{memberImg},
			member_content = #{memberContent}
			where member_id=#{memberId}
 	</update>
   	<update id="updateMyLike">
 			update MEMBER set
			member_category1 = #{memberCategory1},
			member_category2 = #{memberCategory2},
			member_local = #{memberLocal}
			where member_id=#{memberId}
 	</update>
   	 
  	<select id="memberList" resultType="member">
  		select * from member where member_no in
  		<foreach collection="array" open="(" close=")" separator="," item="memberNo">
  			#{memberNo}
  		</foreach>
  	</select>
  	<insert id="insertFollow">
  		insert into follow values(follow_seq.nextval,#{followerNo},#{followingNo})
  	</insert>
  	<delete id="deleteFollow">
  		delete from follow where follower_no=#{followerNo} and following_no=#{followingNo}
  	</delete>
  	<select id="getIsFollow" resultType="int">
  		select count(*) as is_follow from follow where follower_no=#{followerNo} and following_no=#{followingNo}
  	</select>
  	<select id="followerCount" resultType="int">
  		select count(*) as follower_count from follow where following_no=#{memberNo}
  	</select>
  	<select id="getFollower" resultType="int">
  		select follower_no from follow where following_no = #{memberNo} order by follow_no desc
  	</select>
  	<select id="followingCount" resultType="int">
  		select count(*) as follower_count from follow where follower_no=#{memberNo}
  	</select>
  	<select id="getFollowing" resultType="int">
  		select following_no from follow where follower_no = #{memberNo} order by follow_no desc
  	</select>

  	<delete id="deleteMyFollower">
  		delete from follow where follower_no=#{followerNo} and following_no=#{followingNo}
  	</delete>

  	<select id="mailCheck" resultType="String">
  		select member_id from member where member_mail=#{memberMail} 
  	</select>
  	

  	<select id="pwChk" resultType="member">
  		select * from member where member_mail=#{memberMail} and member_id=#{memberId}
  	</select>
  	
  	<update id="findChangePwMember">
  		update member set member_pw =#{memberPw} where member_id=#{memberId}
  	</update>
  	
  	<insert id="insertKakaoMember">
  	insert into member values(member_seq.nextval,#{memberId},#{memberPw},'010-1234-1234','카카오회원',#{memberId},2,'카카오회원입니다',1,2,1,null)
  	</insert>
  	
  	<update id="member"></update>


</mapper>
