<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.semo.member.model.dao.MemberDao">
  
  <select id="selectOneMember" resultType="member">
  	select * from member where  member_id =#{memberId}
  </select>
  
  <insert id="insertMember">
  	insert into member values(member_seq.nextval,#{memberId},#{memberPw},#{memberPhone},#{memberName},#{memberMail},2,#{memberContent},#{memberCategory1},#{memberCategory2},#{memberLocal},#{memberImg})
  </insert>
  
  <select id="selectMember" resultType="member">
  	select * from member where member_no = #{memberNo}
  </select>
  
  
 	<update id="updateMyInfo">
 			update MEMBER set
			member_name = #{memberName},
			member_mail = #{memberMail},
			member_phone = #{memberPhone}
			where member_id=#{memberId}
 	</update>
 	 <update id="updatePwMember">
 			update MEMBER set
			member_pw = #{memberPw}
			where member_id=#{memberId}
 	</update>
  
  	<select id="selectByOauthLogin" resultType="member">
  		select * from member where member_name=#{memberName} and member_id=#{memberId}
  	</select>
  
   	<update id="updateMyFeed">
 			update MEMBER set
			member_img = #{memberImg},
			member_content = #{memberContent}
			where member_id=#{memberId}
 	</update>
   	<update id="updateMyLike">
 			update MEMBER set
			member_category1 = #{memberCategory1},
			member_category2 = #{memberCategory2},
			member_local = #{memberLocal}
			where member_id=#{memberId}
 	</update>
   	 
  	<select id="memberList" resultType="member">
  		select * from member where member_no in
  		<foreach collection="array" open="(" close=")" separator="," item="memberNo">
  			#{memberNo}
  		</foreach>
  	</select>
  
</mapper>
