<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.semo.page.model.dao.PageDao">

	<select id="totalCount1" resultType="int">
		select count(*) from group_tbl
	</select>
	
	<select id="totalCount2" resultType="int">
		select count(*) from group_tbl where GROUP_CATEGORY = #{categoryValue}
	</select>
	
	<select id="totalCount3" resultType="int">
		select count(*) from group_tbl where GROUP_LOCAL = #{categoryValue}
	</select>
	
	<select id="selectPageList1" resultType="group">
		SELECT * FROM    
		    (SELECT ROWNUM AS RNUM, B.* FROM
		        (SELECT
		            GROUP_NO,
		            GROUP_NAME,
		            GROUP_IMG,
	                GROUP_MAXNUM,
		            GROUP_CATEGORY,
		            GROUP_LOCAL
		        FROM GROUP_TBL
		        ORDER BY 1 DESC)B)
		WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectPageList2" resultType="group">
		SELECT * FROM    
		    (SELECT ROWNUM AS RNUM, B.* FROM
		        (SELECT
		            GROUP_NO,
		            GROUP_NAME,
		            GROUP_IMG,
	                GROUP_MAXNUM,
		            GROUP_CATEGORY,
		            GROUP_LOCAL
		        FROM GROUP_TBL
		        WHERE GROUP_CATEGORY = #{categoryValue}
		        ORDER BY 1 DESC)B)
		WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	
	<select id="selectPageList3" resultType="group">
		SELECT * FROM    
		    (SELECT ROWNUM AS RNUM, B.* FROM
		        (SELECT
		            GROUP_NO,
		            GROUP_NAME,
		            GROUP_IMG,
	                GROUP_MAXNUM,
		            GROUP_CATEGORY,
		            GROUP_LOCAL
		        FROM GROUP_TBL
		        WHERE GROUP_LOCAL = #{categoryValue}
		        ORDER BY 1 DESC)B)
		WHERE RNUM BETWEEN #{start} AND #{end}
	</select>
	
	<select id="search" resultType="group">
		select * from group_tbl where group_name like '%'||#{searchContent}||'%' or group_content like '%'||#{searchContent}||'%' 
	</select>

</mapper>
