.mainSearchBtn > span {
  margin-top: 8px;
  margin-right: 24px;
  color: white;
  font-weight: 500;
  cursor: pointer;
}
.search-box {
  display: flex;
  text-align: center;
  justify-content: center;
}
.search-box input {
  width: 88%;
  background-color: transparent;
  border: 1px solid #8bb4ff;
  outline: none;
  font-size: 16px;
  padding-left: 10px;
}
.search-box > div {
  flex: 1;
  cursor: pointer;
  text-align: center;
  align-self: center;
}

.search-box > div > span {
  font-size: 40px;
  color: #8bb4ff;
}
