/* 전체페이지 css */
.searchresult-title > h2 {
  color: #220895;
}
.searchresult-title {
  /*text-align: center;*/
  font-size: 16px;
  padding: 20px 0px;
  overflow: hidden;
}
.searchresult-all-wrap {
  width: 1200px;
  margin: 30px auto;
}
.searchKeyword {
  font-size: 20px;
  float: left;
  color: #220895;
  font-family: ns-eb;
  margin-right: 10px;
}
.searchresult-title-result {
  font-size: 20px;
  float: left;
  color: black;
  font-family: ns-r;
}
.searchresult-group-name {
  font-size: 24px;
  font-weight: bold;
}
.searchresult-category {
  color: #220895;
  font-size: 16px;
  font-weight: bold;
}

/*페이지 내부 배치*/
.searchresult-list-wrap {
  width: 1200px;
  overflow: hidden;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
}
.searchresult-item-wrap {
  height: 500px;
  float: left;
  width: calc(100% / 4);
  border: 1px solid black;
  cursor: pointer;
  box-sizing: border-box;
  padding: 30px;
}
.searchresult-item-img {
  width: 200px;
  height: 300px;
  box-sizing: border-box;
  text-align: center;
  line-height: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.searchresult-item-img > img {
  width: 70%;
  height: 100%;
  object-fit: contain;
}
.searchresult-icons > span {
  font-size: 18px;
  padding-right: 5px;
  line-height: 26px;
}
.searchresult-infos {
  padding-left: 10px;
}
.searchresult-group-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/*검색페이지 css*/
.searchresult-category-wrap {
  margin: 0 auto;
  overflow: hidden;
  display: block;
  margin: 0 auto;
  width: 1200px;
}
.searchresult-category {
  /*display: block;*/
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  box-sizing: border-box;
  width: calc(88% / 7);
  height: 45px;
  font-size: 20px;
  line-height: 43px;
  text-align: center;
  /*background-color: aquamarine;*/
}
.searchresult-category-wrap > ul > li > div {
  border: 1px solid #ccc;
  color: black;
  /*background-color: #ccc;*/
  border-radius: 10px;
}
.searchresult-category-wrap > ul > li > div.searchCategory-active {
  border: 1px solid #ccc;
  color: black;
  background-color: #ccc;
  border-radius: 10px;
}
.searchresult-category-wrap > ul {
  list-style-type: none;
  box-sizing: border-box;
  padding-top: 30px;
  margin: 0;
}
.searchresult-icons > span {
  font-size: 18px;
  padding-right: 5px;
  line-height: 26px;
}
.searchresult-group-name {
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
}
.searchresult-groupCategory {
  color: #220895;
  font-size: 16px;
  font-weight: bold;
}
