/* 전체페이지 css */
.searchresult-title > h2 {
  color: #220895;
}
.searchresult-title {
  /*text-align: center;*/
  font-size: 16px;
  padding: 20px 0px;
  overflow: hidden;
}
.searchresult-all-wrap {
  width: 1200px;
  margin: 30px auto;
}
.searchKeyword {
  font-size: 24px;
  float: left;
  color: #220895;
  font-family: ns-eb;
  margin-right: 10px;
}
.searchresult-title-result {
  font-size: 24px;
  float: left;
  color: black;
  font-family: ns-r;
}
